a:visited {
  text-decoration: none;
  color:#154d60; 
}
a:link {
  text-decoration: none;
  color: #309FC0;
}

body,
#root {
  display: flex;
  flex-direction: column;
  color: #309FC0;
  background: #D4E5F2;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.App {
max-width: 900px;
margin: 0 auto;
/* border: 1px solid lightslategray; */
border-radius: 8px;
padding-bottom: 30px;
  /* display: grid;
  grid-template-rows: 80px 80px 1fr 80px;
  grid-template-columns: 1fr 1fr 1fr;
  color: #5e37e0; */
}

.map-container {
  height: 400px;
  margin: 10px;
}


nav {
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  min-height: 10vh;
  grid-row-start: 1;
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.nav-links {
  list-style: none;
  flex-direction: row;
  text-align: center;
  margin-right: 20px;
  display: flex;
  gap: 15px;
  color: #154d60;
}


nav h1 {
  margin-left: 20px;
  color: #154d60;
}

.placeDetails td {
  padding-left: 5px;
  padding-right: 5px;
}

#signout:hover {
  cursor: pointer;
}

#addtrip-parent {
  border-radius: 10px;
  width: 300px;
  text-align: center;
  margin: 10px;
  grid-row-start: 3;
  grid-column-start: 2;
  font-family: 'Montserrat', sans-serif;
}

::placeholder {
  font-family: 'Montserrat', sans-serif;
}
#signup-parent {
  /* background-color: #2e2c2c; */
  /* color: #e05637; */
  border-radius: 10px;
  width: 300px;
  text-align: center;
  margin: 10px;
  grid-row-start: 3;
  grid-column-start: 2;
  font-family: 'Montserrat', sans-serif;
}
#about-form {
  /* background-color: #2e2c2c; */
  /* color: #e05637; */
  border-radius: 10px;
  width: 1000px;
  text-align: center;
  margin: 10px;
  grid-row-start: 3;
  grid-column-start: 2;
  font-family: 'Montserrat', sans-serif;
}
#detailsDiv {
  /* background-color: #2e2c2c; */
  /* color: #e05637; */
  border-radius: 10px;
  width: 1000px;
  text-align: center;
  margin: 10px;
  grid-row-start: 3;
  grid-column-start: 2;
  font-family: 'Montserrat', sans-serif;
  padding: 2px;
}

#addBuddyDiv {
  /* background-color: #2e2c2c; */
  /* color: #e05637; */
  border-radius: 10px;
  width: 1000px;
  text-align: center;
  margin: 10px;
  grid-row-start: 3;
  grid-column-start: 2;
  font-family: 'Montserrat', sans-serif;
}

#fof-container {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 50px;
}
#fof-container h3 {
  margin-bottom: 0px;
}

.padding {
  padding-bottom: 50px;
}
